* {
    margin: 0;
}

body,
html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}

body {
    background-color: rgb(182, 125, 173);
}

html {
    box-sizing: border-box;
}

h2 {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 28px;
    letter-spacing: 4px;
    margin: 2rem 10px;
    padding: 8px 100px;
    max-width: 700px;
}

h3 {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 18px;
    letter-spacing: 4px;
    margin: 20px 10px;
    padding: 5px 3px;
}

h4 {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 4px;
    margin: 20px 10px;
    padding: 5px 3px;
    width: fit-content;
}

.menu {
    display: none;
}

/*STYLING THE NAVIGATION BAR */

.navbar {
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 15px 25px;
    overflow: hidden;
    color: white;
    width: 100%;
}

.navbar li {
    display: inline;
    list-style-type: none;
    padding: 0px;
}

.navbar li a {
    display: inline;
    color: white;
    font-family: "Inconsolata", sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
    padding: 15px 25px;
    margin: 20px;
    text-decoration: none;
}

.navbar a:active {
    background-color: rgb(104, 31, 92);
}

.navbar a:hover {
    background-color: #fff;
    color: #000;
}

/*STYLING THE HEADER(S)*/

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 120px;
    color: rgb(104, 31, 92);
    text-shadow: 2px 2px 4px #000, 4px 4px rgb(182, 125, 173), 1px 1px 6px #fff;
    margin: 10%;
}

.bgimg,
.bgimg-menu,
.bgimg-events {
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.bgimg {
    background-image: url("images/tchome1.JPG");
    min-height: 75%;
}

.hours,
.location {
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    padding: 5px 10px;
    width: fit-content;
    position: absolute;
    bottom: 5px;
}

.hours {
    left: 20px;
}

.location {
    right: 20px;
}

/*STYLING THE ABOUT CONTAINER & CONTENT*/

.about-container,
.where-container,
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container,
.where-container,
.menu-container,
.food-container,
.drink-container,
.contact-container {
    padding: 0.01em 16px;
}

.about-container:after,
.about-container:before,
.where-container:after,
.where-container:before,
.menu-container:after,
.menu-container:before .food-container:after,
.food-container:before,
.drink-container:after,
.drink-container:before,
.contact-container:after,
.contact-container:before {
    content: "";
    display: table;
    clear: both;
}

.about-container p,
.where-container p {
    font-size: 21px;
    text-align: justify;
    padding-bottom: 24px;
}

.about-container ul {
    list-style: square inside;
    font-size: 21px;
}

.about-container img,
.menu-container img {
    width: 700px;
    margin: 2rem 0;
}

.about-content {
    font-size: 18px;
    text-align: justify;
    padding-bottom: 15px;
    max-width: 700px;
}

/*STYLING THE WHERE CONTAINER/CONTENT*/

.where-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.msg-btn {
    border: none;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 12px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.msg-button:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.map {
    align-items: center;
    max-width: 700px;
    height: 350px;
    margin: 30px 0;
}

.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}


/*STYLING THE ASIDE CONTENT*/

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(215, 178, 209);
    border: 4px double #000;
    margin-bottom: 20px;
    padding: 10px 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(215, 178, 209);
    border: 4px double #000;
    text-align: left;
    padding: 20px 40px;
    margin: 10px 0;
    width: fit-content;
}

.info p {
    margin: 0;
    padding: 0;
}

.specials {
    display: flex;
    flex-direction: column;
    flex-flow: center;
    align-items: center;
    background-color: rgb(215, 178, 209);
    border: 4px double #000;
    text-align: left;
    padding: 15px 20px;
    margin: 20px 0;
}

.specials h3 {
    width: fit-content;
}

.specials ul {
    list-style: none;
    ;
    font-size: 21px;
}

.price {
    font-weight: bold;
}


/*STYLING THE FORM*/

.reservation {
    width: 100%;
    max-width: 700px;
}

.input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

.padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.border {
    border: 1px solid #ccc !important
}

/*STYLING THE FOOTER/CONTACT SECTION*/

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}



.contact-container p {
    font-size: 18px;
    margin-bottom: 15px;
}

.icon-bar {
    background-color: rgb(215, 178, 209);
    border: 4px double #000;
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 20%;
    padding: 15px 0;
    margin-bottom: 20px;
}

.icon {
    font-size: 2rem;
}

/*STYLING THE MENU PAGE*/
.bgimg-menu {
    background-position: center;
    background-size: cover;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.bgimg-menu {
    background-image: url(images/tcmenu1.JPG);
    min-height: 75%;
}

.menu-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}


/*STYLING THE EVENTS PAGE*/
.bgimg-events {
    background-position: center;
    background-size: cover;
    background-image: url(images/tcstage6.jpg);
    min-height: 85%;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
