
body {
    background-color: rgb(182, 125, 173);
}

/*STYLING THE FORMS ON THE MENU PAGE:  1)LOGIN FORM; 2) REGISTRATION FORM; AND 3) CHECKOUT FORM
  NONE OF THESE FORMS ARE VISIBLE UNTIL THE "SUBMIT ORDER" BUTTON IS CLICKED AND THEN THE LOGIN FORM
  WILL OPEN ALLOWING USER TO LOGIN FOR ORDER FOOD

/* STYLING THE LOGIN FORM , REGISTRATION FORM, AND CHECKOUT FORM*/  
  
.loginForm,
.registrationForm,
.checkoutForm {
    /*display: none;*/    
    position: fixed;    
    z-index: 1;    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    overflow: auto;     
}

.login-container,
.registration-container,
.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:large;
    width: 100%;
    max-width: 700px;
    height: fit-content;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: rgb(215, 178, 209);
    box-shadow: 0 4px 7px 0 rgba(104, 31, 92, 0.17), 0 2px 10px 0 rgba(104, 31, 92, 0.12);}
   
.head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(215, 178, 209);
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}
   
.logo {
    height: 15%;
    width: 15%;
    margin-right: 10px;    
}

.login-container img,
.registration-container img {
    height: 50%;
    width: 15%;
    margin-right: 10px;    
}
   
.head h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: rgb(104, 31, 92);
    text-shadow: 3px 3px 4px #000, 4px 4px rgb(182, 125, 173), 5px 5px 6px #fff;
    margin: 5% .5em;
}
   
.login-container h2,
.registration-container h2,
.checkout-container h2 {    
     font-family: Arial, Helvetica, sans-serif;
     font-size: 18px;    
     width: max-content;
     margin-bottom: 1em;
}

.login-container label,
.registration-container label,
.checkout-container label {
    font-size: 17px;
}

.login-container input[type=text],
.login-container input[type=email],
.login-container input[type=password],
.login-container input[type=checkbox],
.registration-container input[type=text],
.registration-container input[type=email],
.registration-container input[type=password],
.registration-container input[type=checkbox],
.checkout-container input[type=text] {
    font-size: 16px;
}

.signup p {
    margin-bottom: 10px;
}

.registration-container p {
   font-size: 18px;
   margin-bottom: 15px;
}

.checkout-container form {
    width: 100%;
    max-width: 700px;
    text-align: center;
}

/* STYLING THE CREDIT CARD ICONS */

.icon-container {
    font-size: 30px;
    margin: 15px 0;
    padding: 7px 0;
  }
  
  .icon-container p {
    font-size: 16px;
    font-weight: 500;
    margin-left: 25%;
    margin-bottom: 10px;
  }
  
  .fa-cc-visa {
    color:navy;
  }
  
  .fa-cc-amex {
    color:rgb(11, 79, 11);
  }
  
  .fa-cc-mastercard {
    color: rgb(195, 82, 41);
  }
  
  .fa-cc-discover {
    color: rgb(77, 74, 74);
  }

  /* STYLING THE BUTTONS ON FORMS */
   
.loginbtn,
.cancelbtn,
.registerbtn,
.pmtbutton {
    background-color: rgb(104, 31, 92);
    color: rgb(215, 178, 209);    
    border: none;
    cursor: pointer;
    margin: 10px 0;
    box-shadow: 0 4px 7px 0 rgba(104, 31, 92, 0.17), 0 2px 10px 0 rgba(104, 31, 92, 0.12);
}
   
.loginbtn {
    padding: 10px 29px;
    margin-right: 25px;
}

.registerbtn {
    padding: 10px 20px;
    margin-right: 2em;
}

.pmtbutton {
    padding: 10px 20px;
}

.cancelbtn {
    padding: 10px 25px;
}
   
.loginbtn:hover,
.cancelbtn:hover,
.registerbtn:hover,
.pmtbutton:hover {
     opacity: 0.7;
}

.order-summary {
    margin-bottom: 20px;
    text-align: center;
    /* Center text within the summary */
}
  
.checkout-container ul {
    list-style-type: none;
    padding: 0;
}
  
.checkout-container li {
    margin-bottom: 5px;
}
